@use '../../foundation/module';
@use '../../foundation/mixin';

.p-about {
  background-color: module.$LightGray;
  margin-bottom: 80px;
}
.p-about__inner {
  padding: 40px 16px;
  margin: auto;
  text-align: center;
  @include module.mixin-mq(pc) {
    max-width: 1200px;
    padding: 40px 40px;
    text-align: start;
  }
}

.p-aboutContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  @include module.mixin-mq(pc) {
    justify-content: flex-start;
    gap: 0;
  }
  & .p-aboutContentText {
    line-height: 1.6;
  }
}
.p-aboutContentImage {
  width: 160px;
  & img {
    width: 100%;
    box-shadow: 8px 8px 0 module.$Accent;
  }
  @include module.mixin-mq(pc) {
    margin-right: 24px;
  }
}
