@use '../../foundation/module';
@use '../../foundation/mixin';

.p-list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 40px;
    @include module.mixin-mq(pc) {
        gap: 24px;
    }
    & a {
        text-decoration-line: none;
        width: calc(50% - 8px);
        @include module.mixin-mq(pc) {
            width: calc(24% - 12px);
        }
    }
    & a::before {
        display: block;
    }
}
.p-listItem {
    list-style-type: none;
}
.p-listItem {
    & img {
        width: 100%;
        height: 160px;
        object-fit: cover;
    }
}
.p-listItem__title {
    display: inline-block;
    font-weight: bold;
    color: module.$txt;
}
