@use '../../foundation/module';
@use '../../foundation/mixin';

.p-list-head {
  font-size: 40px;
  margin-bottom: 40px;
}
.p-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 128px;
  padding-bottom: 128px;
  @include module.mixin-mq(pc) {
    gap: 24px;
  }
  & a {
    text-decoration-line: none;
    width: 100%;
    @include module.mixin-mq(pc) {
      width: calc(24% - 12px);
    }
  }
  & a::before {
    display: block;
  }
}
.p-listItem {
  list-style-type: none;
}
.p-listItem {
  & img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    pointer-events: none;
    margin-bottom: 16px;
    box-shadow: 40px 40px 0 module.$Accent;
    @include module.mixin-mq(pc) {
      height: 160px;
    }
  }
}
.p-listItem__title {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: module.$White;
  background: module.$Black;
  padding: 8px;
  @include module.mixin-mq(pc) {
    font-size: 16px;
  }
}
