@use '../../foundation/module';
@use '../../foundation/mixin';

.p-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  overflow-x: scroll;
  z-index: 100;
  @include module.mixin-mq(pc) {
  }
  .p-navBtnOpen {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    overflow-x: scroll;
    z-index: 100;
    background-color: module.$Black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 24px;
      height: 24px;
    }
  }
}
.p-nav {
  background-color: module.$Black;
  width: 60vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include module.mixin-mq(pc) {
    width: 324px;
  }
  .p-navList {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 24px;
    padding: 24px 24px 0;
    & a {
      color: module.$White;
      text-decoration-line: none;
      width: 100%;
      @include module.mixin-mq(pc) {
      }
    }
  }
  .p-navBtnClose {
    background-color: module.$Black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 24px;
      height: 24px;
    }
  }
}
