@charset "utf-8";
@use '../foundation/module';
@use '../foundation/mixin';

.p-work {
}
.p-workImage img {
    width: 100%;
    max-width: 640px;
}
.p-workText {
    font-size: 16px;
    line-height: 1.7;
}
