@charset "utf-8";
@use '../foundation/module';
@use '../foundation/mixin';

.p-work {
  padding-top: 80px;
}
.p-workImage img {
  width: 100%;
  max-width: 640px;
  pointer-events: none;
}
.p-workText {
  font-size: 16px;
  line-height: 1.7;
}
