@charset "utf-8";
@use '../foundation/module';
@use '../foundation/mixin';

.p-work {
  h1,
  h4 {
    margin-bottom: 16px;
  }
  .p-workImage img {
    width: 100%;
    max-width: 640px;
    pointer-events: none;
    margin-bottom: 16px;
  }
  .p-workText {
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 16px;
  }
}
