@charset "utf-8";
@use '../foundation/module';
@use '../foundation/mixin';

body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto,
    Segoe UliHelvetica Neue, HelveticaNeue, Hiragino Kaku Gothic ProN,
    BIZ UDGothic, YuGothic, Yu Gothic Medium, Yu Gothic, Verdana, Meiryo,
    sans-serif;
}
.l-content {
  background-color: module.$White;
  margin: 0 auto;
  padding: 80px 16px;
  @include module.mixin-mq(pc) {
    max-width: 1200px;
    padding: 40px 40px 0;
  }
}
