@charset "utf-8";
@use '../foundation/module';
@use '../foundation/mixin';

.l-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 8px;
  color: module.$Black;
  & small {
    color: module.$Gray;
  }
}
